
body { font-family: Asap Bold; }


.header, .footer { background-color: #fff; color: #1453b3; }
.nav-link { color: #1453b3!important; }
.main-content { color: #fff; position: relative; background-color: #192866; padding-bottom: 20px; }
.content-header { background-image: url('/img/background/Madrigall-image-generique.jpg'); background-size: cover; background-position: center top; min-height: 300px; position: relative; }
.content h1 { text-align: center; font-style: italic; }

.home { margin: 2% auto; }
.page { margin-top: -280px; position: relative; color: #fff; }
.page h1, .page p { text-align: center; }
.page p { max-width: 500px;margin:auto; }
.page h1 img { vertical-align: middle; margin-right: 5px; }

.avatar { color: #fff; background-color: #adb5bd; display: inline-flex; align-items: center; justify-content: center; font-size: 1rem; border-radius: 50%; height: 48px; width: 48px; }
.avatar img { width: 100%; border-radius: 50%; }
.avatar + .avatar-content { display: inline-block; margin-left: .75rem; }

.media { display: flex; align-items: flex-start; }

.logo { padding-top: 10px; border-radius: 8px; border-bottom-width: 10px !important; border-bottom-style: solid; width: 170px; height: 170px; margin: 10px; text-align: center; cursor: pointer; }
.logo img { height: 80px; margin: 10px auto; }
.logo .card-body { padding: 5px; }
.logo .card-title { font-size: 18px; font-weight: bold; }
.logo:hover { box-shadow: 4px 4px 10px #000; }
.logo.titres { border-bottom-color: #89d369;}
.logo.titres .h5{ color: #89d369; }
.logo.documents { border-bottom-color: #d3ba00; }
.logo.documents .h5 { color: #d3ba00 ; }
.logo.cessions { border-bottom-color: #7db4ff;  }
.logo.cessions .h5 { color: #7db4ff; }
.logo.compte { border-bottom-color: #ff8a54;}
.logo.compte .h5 { color: #ff8a54; }

.cTable table { background-color: #fff; border-radius: 10px; border-spacing: 0px; }
.cTable th { font-size: 12px; background-color: #DCE4F1; color: #1453b3; }

.card { color: #1453b3; }
