
body { font-family: Asap Bold; }


.header, .footer { background-color: #fff; color: #1453b3; }
.content { color: #fff; position: relative; background-color: #192866; padding-bottom: 20px; }
.content-header { background-image: url('/img/background/Madrigall-image-generique.jpg'); background-size: cover; background-position: center top; min-height: 300px; position: relative; }
.content h1 { text-align: center; font-style: italic; }
.content p.description { width: 50%; text-align: center; margin: auto; }

.home { margin: 2% auto; }
.page { margin-top: -280px; position: relative; }
.page h1 img{vertical-align:middle;margin-right:5px;}

.avatar { color: #fff; background-color: #adb5bd; display: inline-flex; align-items: center; justify-content: center; font-size: 1rem; border-radius: 50%; height: 48px; width: 48px; }
.avatar img { width: 100%; border-radius: 50%; }
.avatar + .avatar-content { display: inline-block; margin-left: .75rem; }

.media { display: flex; align-items: flex-start; }

.logo { padding-top: 10px; border-radius: 8px; border-bottom-width: 10px; border-bottom-style: solid; width: 170px; height: 170px; margin: 10px; text-align: center; cursor: pointer; }
.logo img { height: 80px; margin: 10px auto; }
.logo .card-body { padding: 5px; }
.logo .card-title { font-size: 18px; font-weight: bold; }
.logo:hover { box-shadow: 4px 4px 10px #000; }
.logo.titres { border-bottom-color: #89d369; color: #89d369; }
.logo.documents { border-bottom-color: #d3ba00; color: #d3ba00; }
.logo.cessions { border-bottom-color: #7db4ff; color: #7db4ff; }
.logo.compte { border-bottom-color: #ff8a54; color: #ff8a54; }


/*
Bleu logo : 1453b3
Vert mes titres : 89d369
Ocre mes documents : d3ba00
Bleu mes cessions : 7db4ff
Orange mon compte : ff8a54
Bleu très foncé bloc image de fond : 192866
*/
