// Override default variables before the import
$body-bg: #fff;
$light: #000;
$navbar-light-color: #1453b3;
$navbar-light-hover-color: #192866;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
